*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
header{
    color: white;
    text-align: center;
    margin-top: 46px;
    font-size: 1.4rem;
}
.hidden {
    display: none;
}

#winner h1 {
    color: gold;
}

main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.box__titulo{
    height: 50px;
    display: flex;
    justify-content: center;
}

.container {
    width: 260px;
    height: 400px;
    position: relative;
    margin:  30px auto;
    cursor: cell;
}

.container:hover {
    transition: 350ms;
    transform: scale(1.1);
}

.transformar {
    border: solid 5px gold;
    border-radius: 10px; 
    transition: 350ms;
    transform: scale(1.1);
}

.transformar .disk:last-child {
    transition: 350ms;
    transform: translate(0px, -11px);
}

.container .container-linha {
    height: 100%;
}

.container .container-linha .linha {
    height: 100%;
    width: 30px;
    background-color: #000000;
    margin: 0 auto;
}

.box {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.disk {
    height: 70px;
    border: solid 1px rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);

}

#d4 {
    width: 55%;
    background-color: #b3b8d6;
}
#d3 {
    width: 70%;
    background-color: #61697f;
}
#d2 {
    width: 85%;
    background-color: #1b1b26;
}
#d1 {
    width: 100%;
    background-color: #000000;
}
.audio{
    display: flex;
    justify-content: center;
    height: 100px;
}
.container-modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}
.container-modal.show{
    display: flex;
}
.modal{
    background: rgb(88 92 111);
    color: white;
    width: 60%;
    height: 300px;
    min-width: 200px;
    border: solid 8px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 200px;
    height: 50px;
    border: solid 1px black;
    border-radius: 8px;
    margin: 22px;
}
.count{
    margin: 0 auto;
    padding: 42px;
    text-align: center;
    line-height: 2;
}
p{
    font-size: xxx-large;
    color: darkblue;
}
@media only screen and (min-width: 460px) {
    main {
        height: 650px;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    section{
        justify-content: space-around;
        flex-direction: row; 
        align-items: center;
    }


}