*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(to bottom right, red, orange, yellow, orange, red);
}

header{
    color: #00daff;
    text-align: center;
    margin-top: 46px;
    font-size: 3rem;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-weight: 500;
}

.hidden {
    display: none;
}

#winner h1 {
    color: gold;
}

main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.box__titulo{
    height: 50px;
    display: flex;
    justify-content: center;
}

.container {
    width: 30%;
    height: 300px;
    position: relative;
    margin:  10px auto 25px;
    cursor: cell;
}

.container:hover {
    transition: 350ms;
    transform: scale(1.1);
}

.transformar {
    border: solid 5px #a4aad6;
    border-radius: 10px;
    transition: 350ms;
    transform: scale(1.1);
}

.transformar .disk:last-child {
    transition: 350ms;
    transform: translate(0px, -11px);
}

.container .container-stick {
    height: 100%;
}

.container .container-stick .stick {
    height: 100%;
    width: 30px;
    background-color: #cec4c4;
    margin: 0 auto;
}

.box {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.disk {
    height: 60px;
    border: solid 1px rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);

}

#d4 {
    width: 55%;
    background-color: #00ebff;
}

#d3 {
    width: 70%;
    background-color: #00a2f1;
}

#d2 {
    width: 85%;
    background-color: #006194;
}

#d1 {
    width: 100%;
    background-color: #002943;;
}

.audio{
    display: flex;
    justify-content: center;
    height: 100px;
}

.container-modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

.container-modal.show{
    display: flex;
}

.modal{
    background: rgb(83 110 121);
    color: white;
    width: 80%;
    height: 200px;
    min-width: 200px;
    border: solid 8px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#modal-text {
    font-size: 1.1rem;
    font-family: sans-serif;
    margin-bottom: 10px;
}

button{
    width: 50%;
    height: 50px;
    border: solid 1px red;
    border-radius: 8px;
    margin: 22px;
    background: red;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: Roboto;
}
.count{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    line-height: 2;
}

.count h2 {
    font-family: 'Palette Mosaic', cursive;
    font-size: 1.6rem;
    font-weight: 100;
    color: #8ebbe2;
}

p{
    font-family: 'Palette Mosaic', cursive;
    font-size: xxx-large;
    color: #30008b;
}

@media only screen and (min-width: 460px) {
   
    body {
        background-image: linear-gradient(to bottom, red, orange, yellow, orange, red);
    }
   
    main {
        height: 650px;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    section{
        justify-content: space-around;
        flex-direction: row; 
        align-items: center;
    }

    .container {
        height: 400px;
    }

    .disk {
        height: 70px;
    }
    
    .container {
        width: 250px;
}